/* Apply styles to the body element */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Center the main content */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Style the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style form labels */
label {
    font-weight: bold;
}

/* Style the input and select elements */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the confirmation message */
p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.header{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(hackpic/COMPLAINS\ BG.jpeg);
    position:relative;

    background-position: center;
    background-size: cover;
}